<% layout("layouts/boilerplate")%>
    <%- include("./partials/flash") %>
        <div class="row col-6 offset-3 mt-4">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Error <%= err.statusCode%> - <%= err.message %>%>
                            </h1>

                            <% if (process.env.NODE_ENV !=="production" ) { %>
                                <p>
                                    <%= err.stack %>
                                </p>
                                <% } %>
            </div>
        </div>